<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://Java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ServletApp2</display-name>
	<servlet>
		<servlet-name>demo</servlet-name>
		<servlet-class>com.demo.web.DemoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>demo</servlet-name>
		<url-pattern>/s1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>http-servlet</servlet-name>
		<servlet-class>com.demo.web.DemoHttpServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>http-servlet</servlet-name>
		<url-pattern>/s2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>http-servlet2</servlet-name>
		<servlet-class>com.demo.web.DemoHttpServlet2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>http-servlet2</servlet-name>
		<url-pattern>/s3</url-pattern>
	</servlet-mapping>
</web-app>